/* home.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
}

#logo {
    text-align: center;
    padding: 10px;
}

#logo img {
    max-width: 300px;
    max-height: 300px;
}

nav {
    background-color: #084F35;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* Main Content and Right Column Container */
#main-container {
    display: flex;
}

/* Content including Tweet Box */
#content {
    margin: 10px;
    width: 70%;
}

#tweet-box {
    background-color: #C8E6C9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tweets-container {
    background-color: #C8E6C9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tweet {
    margin-bottom: 20px;
}

.tweet strong {
    color: #1e1e1e;
}

.tweet p {
    margin: 0;
}
/* Right Column */
#right-column {
    width: 30%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
}

/* Additional styling for the tweet box */
#tweet-box textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    font-size: 14px;
}

#tweet-box button {
    background-color: #084F35;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#tweet-box button:hover {
   background-color: pink;
}