/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
}

/* Logo Styles */
#logo {
  display: flex;
  justify-content: center; /* Horizontally centers the logo */
  align-items: center;     /* Vertically centers the logo */
  margin-top: 50px;        /* Adds some top margin for spacing */
}

#logo img {
  max-width: 200px;        /* Set a maximum width for the logo */
  height: auto;            /* Maintain aspect ratio */
}

/* Register Container Styles */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Register Box Styles */
.register-box {
  width: 300px;
  padding: 20px;
  background-color: #C8E6C9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Input Box Styles */
.input-box {
  display: flex;            /* Enable flexbox */
  justify-content: center;  /* Horizontally center content */
  align-items: center;      /* Vertically center content */
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Adjust the margin for the .parent element */
.parent {
  margin-top: 10px; /* Adjusted margin-top for spacing */
}

/* Button Styles */
button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}