<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Claim a Task</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

  
  </head>
  <body>
    
    <div class="header">
      
  <a href="#default" class="logo">CompanyLogo</a>
 
    
    
  
  <div class="header-right">
    <a href="#home">Home</a>
    <a class="active" href="#claim">Claim a Task</a>

  </div>
</div>
  <h1>Claim a Task</h1>
  

    
    

       <div class="task-container">
        <div class="task-name">Picked up garbage</div>
        <button class="claim-button">Claim</button>
    </div>
    
    <div class="task-container">
        <div class="task-name">Said no to single-use plastic</div>
        <button class="claim-button">Claim</button>
    </div>

    <div class="task-container">
        <div class="task-name">Took public transportation</div>
        <button class="claim-button">Claim</button>
    </div>
      
  </body>
</html>
