<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Claim a Task</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

  
  </head>
  <body>
    
    <div class="header">
      
  
 
    
    
  
  <div class="header-right">
    <a href="#home">Home</a>
    <a class="active" href="#claim">Claim a Task</a>

  </div>
</div>


  <h1>Claim a Task</h1>


    
    

       <div class="task-container">
        <div class="task-name">Picked up garbage - 2 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
    <div class="task-container">
        <div class="task-name">Said no to single-use plastic - 3 points</div>
        <button class="claim-button">Claim</button>
    </div>

    <div class="task-container">
        <div class="task-name">Took public transportation - 3 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Reduced energy use - 2 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Bought used goods - 5 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Reuse and recycle - 1 point </div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Say no to plastic bags - 4 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Ate locally grown vegetables - 3 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Buying in bulk - 5 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Used a reusable water bottle - 1 point</div>
        <button class="claim-button">Claim</button>
    </div>
    
    
    
    
      
  </body>
</html>






