{% from "showlinks.html" import show_links %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Claim a Task</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"  href="static/SelectATask.css">

  
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <div class="header">
      
  <a href="#default" class="logo">CompanyLogo</a>
  <div class="parent">
    <div class="header">
        {{ show_links() }}
    </div>
  </div>
    
    

</div>

<h1>Claim a Task</h1>


    
    

       <div class="task-container">
        <div class="task-name">Picked up garbage - 2 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
    <div class="task-container">
        <div class="task-name">Said no to single-use plastic - 3 points</div>
        <button class="claim-button">Claim</button>
    </div>

    <div class="task-container">
        <div class="task-name">Took public transportation - 3 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Reduced energy use - 2 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Bought used goods - 5 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Reuse and recycle - 1 point </div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Say no to plastic bags - 4 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Ate locally grown vegetables - 3 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Buying in bulk - 5 points</div>
        <button class="claim-button">Claim</button>
    </div>
    
     <div class="task-container">
        <div class="task-name">Used a reusable water bottle - 1 point</div>
        <button class="claim-button">Claim</button>
    </div>

  </body>
</html>



