
{% macro show_links(user) %}
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Homepage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('login')}}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('register')}}">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('selectATask')}}">Select a Task</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href = "{{url_for('logout')}}">Logout</a>
    </li>

    {% if user %}
      <li class=""nav-item>
        <a class = "nav-link" href="{{url_for('home')}}">my profile</a>
      </li>
    {% endif %}
  </ul>

  {% endmacro %}
